body { 
    text-align: center;
    font-family: Georgia, Trebuchet MS, Helvetica, sans-serif !important;
}

:disabled {
    background: #dddddd;
}

textarea { 
    vertical-align: bottom;
}

select, input, textarea {     
    font-size: 15px;
    padding: 5px;
}

#input, #textarea {
    border: 1px solid lime;
    outline: none;
    resize: none;
    vertical-align: bottom
}



input[type=checkbox] {  
  transform: scale(1.5); /* All browsers except webkit*/  
  -webkit-transform: scale(1.5); /* Webkit browsers*/
  margin-right: 8px;
}

div, p {
    background-color: #f90;
    color: white;
    display: inline;
    padding: 8px;
}

select {
   background-color: #777;
   color: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;   
   border-radius: 0;
   height: 34px;
}

#instructions { 
    font-size: 18px;
    text-align: left;
    display: block;
    width: 80%;
    background-color: transparent;
    color: black;
    margin-left: auto;
    margin-right: auto; 
}


#instructionsTitle { 
    display: block;
    background: transparent;
    color: black;
    font-weight: bold;
    margin: 10px;    
}

#footer {
    font-size: 14px;
    display: block;
    margin-top: 100px;
    margin-left: 20px;
}

.purple { color: purple;}
.brown { color: brown;}

li { margin: 10px;}
ol pre { display: inline; }